# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# API Gateway
PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
PROJECTS_SERVICE_URL=http://localhost:4101
TASKS_SERVICE_URL=http://localhost:4102

# Projects Service
PROJECTS_PORT=4101
PROJECTS_DATA_FILE=./data/projects.json

# Tasks Service
TASKS_PORT=4102
TASKS_DATA_FILE=./data/tasks.json
